@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --tertiary-color: #00ADB5;
    --last-color: #EEEEEE;
}

section.jumbotron {
    padding-top: 6rem;
    background-color: var(--secondary-color);
    background: url(../img/banner-home.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 360px;
}

#projects {
    background-color: var(--secondary-color);
}

nav {
    background-color: var(--primary-color);
}

section {
    padding-top: 5rem;
}

a:hover {
    font-weight: bold;
}

.lobster-fm {
    font-family: 'Lobster', cursive;
}

.paficio-fm {
    font-family: 'Pacifico', cursive;
}

.sub-head {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}